<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FingerprintMatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FingerprintMatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FingerprintMatch.Properties.Settings.RegistrationDBconn"
            connectionString="Data Source=localhost\sqlexpress;Initial Catalog=RegistrationDB;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="FingerprintMatch.Properties.Settings.ExamIDDBConn"
            connectionString="Data Source=localhost\sqlexpress;Initial Catalog=ExamIDDB;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <FingerprintMatch.Properties.Settings>
            <setting name="LicenseServer" serializeAs="String">
                <value>/local</value>
            </setting>
            <setting name="SyncUserName" serializeAs="String">
                <value>syncuser</value>
            </setting>
            <setting name="SyncPassword" serializeAs="String">
                <value>1 D0nt know</value>
            </setting>
            <setting name="SyncDomain" serializeAs="String">
                <value>apk-integr-01</value>
            </setting>
            <setting name="SyncAnonymous" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyncBasic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SyncReplicationURL" serializeAs="String">
                <value>https://apk-integr-01.ad.uj.ac.za/syncdata/DBReplication.asmx</value>
            </setting>
            <setting name="SyncRepPartner" serializeAs="String">
                <value>apk-integr-01</value>
            </setting>
        </FingerprintMatch.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <FingerprintMatch.Properties.Settings>
            <setting name="SyncComplRegis" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyncComplClass" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyncComplExamID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyncLastRegis" serializeAs="String">
                <value>2014-06-27</value>
            </setting>
            <setting name="SyncLastClass" serializeAs="String">
                <value>2014-06-27</value>
            </setting>
            <setting name="SyncLastExamID" serializeAs="String">
                <value>2014-06-27</value>
            </setting>
            <setting name="SyncComplPush" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyncComplPull" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyncMinutes" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="SyncDays" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SyncClassRecordsLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SyncClassTotalRecords" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SyncExamIDRecordsLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SyncExamIDTotalRecords" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SyncPullRecordsLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SyncPullTotalRecords" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoUpdateSource" serializeAs="String">
                <value>https://apk-integr-01.ad.uj.ac.za/applicationupdate/fingerMatchUpdate.xml</value>
            </setting>
        </FingerprintMatch.Properties.Settings>
    </userSettings>
</configuration>